<p>
  Bonjour,
</p>
<p>
  Merci de votre inscription chez SOS Food. Pour ajouter votre permier repas c'est <%= link_to "par ici", new_distribution_url %>.
</p>
<p>
  À bientôt,<br>
  L'équipe SOS Food
</p>
