.distribution-show {
  display: flex;
  // background-color: #FAFAFA;
  // margin-left: 40px;
  // margin-right: 40px;
  // margin-top: 40px;
}
#distribution-body {
  padding-top: 30px;
}
// .distribution-body img {
//   width: 100%;
// }
.distribution-aside {
  // min-width: 450px;
  flex: 0 0 550px;
  padding-right: 130px;
  padding-left: 40px;
  align-self: stretch;
  // background: #F8F7F7;
  border-left: 1px solid #f0efef;
}
.distribution-section-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 0px;
  // border-top: 1px solid #f0efef;
}


.distribution-section {
  margin: 20px auto;
  letter-spacing: 1phpx;
}
.distribution-section:first-child {
  // margin-top: 0;
}
.distribution-section:last-child {
  margin-bottom: 0;
}


@media (max-width: 700px) {
  .distribution-show {
    flex-wrap: wrap;
  }
}

.share-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0efef;
  padding: 30px 0px;
}
.share-link {
  flex: 0 0 24%;
  color: white;
  font-size: 18px;
  padding: 5px 0;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    color: white;
  }
}
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.list-inline {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-color: gray;
}

#map {
  margin-top: 20px;
}

.title-aside {
  text-transform: uppercase;
  color: #D23333;
  margin-bottom: 10px;
}

.distribution-list-aside {
  display: block;
}

.distribution-item {
  align-items: center;
  padding: 5px, 0px;
}

a.distribution-link:link, a.distribution-link:visited, a.distribution-link:active {
  color: black;
}

.distribution-item:hover {
  background: #F8F7F7;
  cursor: pointer;
  opacity: 0.3;
}

.week_days {
  color: gray;
  text-transform: uppercase;
  font-size: 12px;
  justify-content: space-around;
  max-width: 300px;
}

.week_day {
  background-color: #57D1C9;
  color: white;
  border-radius: 20px;
  padding: 5px;
  margin-top: 5px;
  max-width: 300px;
}

.details-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.line_number {
  font-size: 12px;
  font-weight: bolder;
  padding: 2px;
  margin: 2px;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.station_name {
  font-size: 12px;
  font-weight: bolder;
}
