/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

body { margin: 0; }
 #map {
        display: flex;
        height: 100vh;
        width: 100%;
      }


#features-title {
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  line-height: 80px;
  border-bottom: 10px $brand-primary solid;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-top: 0;
  margin-top: 0;
}

.features-icon {
  width: 80%;
  margin-top: 20px;
}

#features {
  margin-top: 30px;
}

#search {
  background-color: #FFFBCB;
}
