/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

body {
  margin: 0;
  alink: black;


}
 #map {
        display: flex;
        height: 100vh;
        width: 100%;
      }
