<p>
  Bonjour,
</p>

<p>
  Ceci est un mail automatique pour vous prévenir que votre distribution « <%= link_to @distribution.display_name, distribution_url(@distribution) %> » est en cours de validation. Nous vous enverrons un mail dès qu'elle sera validée.
</p>

<p>
  À bientôt,<br>
  L'équipe SOS Food
</p>
