<p>
  Bonjour,
</p>

<p>
  Ceci est un mail automatique pour vous prévenir que votre distribution « <%= link_to @distribution.display_name, distribution_url(@distribution) %> » a été réfusée. Un membre de notre équipe vous contactera sous 24h pour vous aider à valider votre distribution.
</p>

<p>
  À bientôt,<br>
  L'équipe SOS Food
</p>
