<p>
  Bonjour,
</p>

<p>
  Ceci est un mail automatique pour vous prévenir que votre distribution « <%= @distribution.display_name %> » n'a pas été validée par notre équipe. Elle ne sera pas proposée aux bénéficiaires qui utiliseront notre service.
</p>

<p>
  À bientôt,<br>
  L'équipe SOS Food
</p>
