<p>
  Bonjour,
</p>

<p>
  La distribution « <%= link_to @distribution.display_name, edit_admin_distribution_url(@distribution) %> » doit être validée.
</p>

<p>
  À bientôt,<br>
  L'équipe SOS Food
</p>
