<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p>
          <i class="fa fa-envelope-o"></i> contact@sos-food.org
        </p>
      </div>

      <div class="col-sm-4">
      <%= link_to "A Propos", apropos_page_path %>
      </div>
      <div class="col-sm-4">
        <ul class = "list-inline text-right">
          <li><%= link_to '<i class="fa fa-facebook"></i>'.html_safe, 'https://www.facebook.com/sosfoodorg', target: :blank %></li>
          <li><%= link_to '<i class="fa fa-twitter"></i>'.html_safe, 'https://twitter.com/SOSFoodorg', target: :blank %></li>
          <li><%= link_to '<i class="fa fa-google-plus-square"></i>'.html_safe, 'https://plus.google.com/u/0/113285215270868545544', target: :blank %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
