<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>À propos</h1>
      <h3>Vous avez contribué à financer SOS Food ! </h3>
      <ul>
        <li>Morgan Fiette</li>
        <li>Taoufik Zagdoud pour CALLR</li>
        <li>Andrée Souklaye</li>
        <li>Félix Le Pottier</li>
        <li>Vero et Adrian Montes Cabrera</li>
        <li>Ismael Martel</li>
        <li>Geoffroy Berson</li>
        <li>Mael Primet</li>
        <li>Sophie Duc</li>
        <li>Isabelle Reusa</li>
        <li>Christine Emery</li>
        <li>Viviana Benacerraf</li>
        <li>Sarah Lelievre</li>
        <li>Edouard Foussier</li>
        <li>Souhel Salloub</li>
        <li>Magdalena Gonzalez Munoz</li>
        <li>Sarah Moulin</li>
        <li>Clement Fallet</li>
        <li>Josiane Vernabel</li>
        <li>Mai-Lan Bernaud</li>
        <li>Solian M'Bareck</li>
        <li>Elodie Royant</li>
        <li>Lilian Bich</li>
        <li>Elisa Hery</li>
        <li>Timothée Goguely</li>
        <li>Charlotte Legrand</li>
        <li>Akram Dhane</li>
        <li>Clément Box</li>
        <li>Catherine Sioudan</li>
        <li>Eduardo Granizo</li>
        <li>Marjolaine Girard</li>
        <li>Alyssa Biot</li>
        <li>Nicolas Ferrary</li>
        <li>Cédric Menteau</li>
        <li>Annelise Meyer</li>
        <li>Isidore Beuzon</li>
        <li>Stephane Gabbay</li>
        <li>Anne-Sophie Chambon</li>
        <li>Marion Chab</li>
        <li>Louis Giraux</li>
        <li>Salam Abbara</li>
        <li>Fernando Serpone Bueno</li>
        <li>Félix Becquart</li>
        <li>Edward Schults</li>
        <li>Lambert Leboucher</li>
        <li>Romain Paillard</li>
        <li>Thibault Geffroy</li>
      </ul>
      <p>Nous adressons nos remerciements particuliers à Officience pour le prêt des locaux. </p>
      <p>De la part de toute l'équipe SOS Food, à tous, MERCI !</p>
     <br>
    </div>
  </div>
</div>









































