// Your footer style
.footer {
  color: #787778;
  background:#333333;
  padding: 20px 0;
  width: 100%;
}

#footer-icons a {
  font-size: 30px;
  color: #CCCCCC ;
  margin-left: 50px;
  transition: color 0.5s ease;
}

#footer-icons a:hover {
  color: $green;
}

#footer-links a {
  color: #CCCCCC;
  &:hover {
    color: $green;
  }
}

.footer ul {
  margin-top: 10px;
}
