// Your footer style
.footer {
  color: #787778;
  background:#333333;
  padding: 20px 0;
  width: 100%;
}

.footer a {
  font-size: 30px;
  color: #CCCCCC ;
  /*letter-spacing: 20px;*/
  margin-left: 50px;
  transition: color 0.5s ease;
}

.footer a:hover {
  color: $green;
}

.footer p {
  // font-weight: bold;
  padding-top: 10px;
  font-size: 20px;
}

.footer p i {
  margin-top: 5px;
}

.footer ul {
  margin-top: 10px;
}
