/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

#page-content {
  margin-bottom: 30px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

h1, h2, h3, h4, h5 {
  color: $blue;
}

h3 {
  font-size: 20px;
}

body {
  color: $blue;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
}

#body-wrapper {
  min-height: calc(100vh - 100px);
}

strong {
  color: $blue;
  background-color: #FFFBD0;
}

.label-paused {
  background-color: gray;
}
