/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  a {
    color: white;
    text-decoration: underline;
  }
}

.alert-covid-19 {
  text-align: left;
  border-style: none;
}
.alert-success {
  background: $green;
}

.alert-warning {
  background: $yellow;
  color: $blue;
  a {
    color: $blue;
    text-decoration: underline;
  }
}
.alert-danger {
  background: $red;
}
