<div class="container">
  <div class="row">
    <h1>Organization</h1>
    <% @organisation.first_name %>
    <% @organization.last_name  %>
    <%= @organization.organization_name %>
    <%= @organization.phone_number %>
    <%= @organisation.distribution %>

    <h2>Distribution</h2>
    <%=@organisation.distribution %>
  </div>
</div>
